body{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.550),rgba(0, 0, 0, 0.5)), url('background_image.jpg');
}

.header img {
    height: 45px;
    width: 167px;
    vertical-align: middle;
}

.text{
    color: white;
    text-align: center;
    font-style: italic
}

.form{
    background-color: rgba(0,0,0,.75);
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 60px 68px 40px 68px;
    /* margin: 30px 400px 30px 400px */
}

.form .text1 {
    display: flex;
    flex-direction: column;
}

.form .number {
    display: flex;
    flex-direction: column;
}

.form .email {
    display: flex;
    flex-direction: column;
}

.form .text2 {
    display: flex;
    flex-direction: column;
}

.form .checkbox {
    display: flex;

    flex-wrap: wrap;
}